n8n-workflow.json
{
    "name": "FinnHub API with Webhook Endpoint",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "15 9 * * 1-5"
                        }
                    ]
                }
            },
            "id": "a244c890-bc5f-4edd-91f4-37192d7807c2",
            "name": "Daily Market News Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [
                1200,
                592
            ],
            "typeVersion": 1.2
        },
        {
            "parameters": {
                "url": "https://finnhub.io/api/v1/company-news",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "symbol",
                            "value": "={{ $json.ticker }}"
                        },
                        {
                            "name": "from",
                            "value": "={{ $now.toLocal().toISO().split('T')[0] }}"
                        },
                        {
                            "name": "to",
                            "value": "={{ $now.toLocal().toISO().split('T')[0] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "1baa58b8-de7e-469c-a1ab-3c020e87714e",
            "name": "HTTP Request",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1856,
                592
            ],
            "typeVersion": 4.2,
            "alwaysOutputData": true,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "fjgM7eQtmgFwPRPr",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "c36458a6-50c2-4219-b459-6629147c205e",
            "name": "Loop Over Items",
            "type": "n8n-nodes-base.splitInBatches",
            "position": [
                1632,
                592
            ],
            "typeVersion": 3
        },
        {
            "parameters": {},
            "id": "0da44d7e-1300-4d47-80f2-da63e647dfe8",
            "name": "Wait",
            "type": "n8n-nodes-base.wait",
            "position": [
                2400,
                592
            ],
            "webhookId": "6c990829-24a2-4dfd-a689-4bdbd37a8bd3",
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "jsCode": "let msg = '*' + ($input.first().json.related ? $input.first().json.related : $('Loop Over Items').first().json.ticker) + '* - Daily Market News :newspaper: \\n\\n';\n\nlet count = 0;\n\nif ($input.first().json.related) {\n  for (const item of $input.all()) {\n    count++;\n    if (count <= 5) {\n      msg += '- <' + item.json.url + '|' + item.json.headline + '>\\n';\n    } else {\n      break;\n    }\n    \n  }\n} else {\n  msg += 'No news found for this ticker'\n}\n\nreturn {\n  output: msg\n}"
            },
            "id": "35e91c84-e051-4b71-91ea-2800d5919751",
            "name": "Format",
            "type": "n8n-nodes-base.code",
            "position": [
                2080,
                592
            ],
            "typeVersion": 2
        },
        {
            "parameters": {},
            "id": "4ab6c87d-536e-4d40-a6c3-e92ed3f30e13",
            "name": "No Operation, do nothing",
            "type": "n8n-nodes-base.noOp",
            "position": [
                1808,
                176
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "jsCode": "const tickers = [\"AAPL\", \"META\", \"NVDA\", \"TSLA\", \"MSFT\", \"AMZN\", \"GOOG\", \"IAU\", \"IBIT\", \"QQQ\", \"SPY\"];\n\nlet output = [];\n\nfor(const item of tickers) {\n  output.push({ticker: item});\n}\n\nreturn output;"
            },
            "id": "4987c8e4-83da-403c-aca2-f56e77d9f4a9",
            "name": "Prep Tickers",
            "type": "n8n-nodes-base.code",
            "position": [
                1408,
                592
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "content": "## Prepare the list of the tickers \nFeel free to update the list of the tickers"
            },
            "id": "553353ca-c848-4110-91a5-ffdd9edabc28",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1360,
                384
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## Retrieve company news via FinnHub API\n\n### FinnHub FREE API\n- go to [FinnHub API site](https://finnhub.io/)\n- get a free API key\n- create a FinnHub Header Auth credential in n8n\n\n",
                "height": 440,
                "width": 440
            },
            "id": "957ee9cc-3f32-4bed-aaf8-6ff3d9e8f1d3",
            "name": "Sticky Note1",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1808,
                352
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## Cron scheduler\ncurrently it is scheduled every weekday morning at 9:15AM. You can customize it to any time you want"
            },
            "id": "51f5c38c-3fd9-4022-9c24-d83b4d98818d",
            "name": "Sticky Note4",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1136,
                784
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "stock-market-data",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-market-data-001",
            "name": "Webhook - Market Data API",
            "type": "n8n-nodes-base.webhook",
            "position": [
                400,
                200
            ],
            "webhookId": "stock-market-data-webhook",
            "typeVersion": 2
        },
        {
            "parameters": {
                "jsCode": "// List of tickers to analyze\nconst tickers = [\"AAPL\", \"META\", \"NVDA\", \"TSLA\", \"MSFT\", \"AMZN\", \"GOOGL\", \"AMD\", \"NFLX\", \"JPM\", \"SPY\", \"QQQ\"];\n\nlet output = [];\n\nfor (const ticker of tickers) {\n  output.push({ ticker: ticker });\n}\n\nreturn output;"
            },
            "id": "webhook-prep-tickers",
            "name": "Webhook Prep Tickers",
            "type": "n8n-nodes-base.code",
            "position": [
                600,
                200
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "options": {
                    "reset": false
                }
            },
            "id": "webhook-loop",
            "name": "Webhook Loop Over Items",
            "type": "n8n-nodes-base.splitInBatches",
            "position": [
                800,
                200
            ],
            "typeVersion": 3
        },
        {
            "parameters": {
                "url": "https://finnhub.io/api/v1/quote",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "symbol",
                            "value": "={{ $json.ticker }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "webhook-quote-request",
            "name": "FinnHub Quote",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1000,
                200
            ],
            "typeVersion": 4.2,
            "alwaysOutputData": true,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "fjgM7eQtmgFwPRPr",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "url": "https://finnhub.io/api/v1/stock/metric",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "symbol",
                            "value": "={{ $('Webhook Loop Over Items').item.json.ticker }}"
                        },
                        {
                            "name": "metric",
                            "value": "all"
                        }
                    ]
                },
                "options": {}
            },
            "id": "webhook-metrics-request",
            "name": "FinnHub Metrics",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1200,
                200
            ],
            "typeVersion": 4.2,
            "alwaysOutputData": true,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "fjgM7eQtmgFwPRPr",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "url": "https://finnhub.io/api/v1/stock/recommendation",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "symbol",
                            "value": "={{ $('Webhook Loop Over Items').item.json.ticker }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "webhook-recommendation-request",
            "name": "FinnHub Recommendations",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1400,
                200
            ],
            "typeVersion": 4.2,
            "alwaysOutputData": true,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "fjgM7eQtmgFwPRPr",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Combine all data for this ticker\nconst ticker = $('Webhook Loop Over Items').item.json.ticker;\nconst quote = $('FinnHub Quote').item.json;\nconst metrics = $('FinnHub Metrics').item.json;\nconst recommendations = $('FinnHub Recommendations').all();\n\n// Get latest recommendation\nlet latestRec = null;\nif (recommendations && recommendations.length > 0 && recommendations[0].json) {\n  latestRec = recommendations[0].json;\n}\n\nreturn {\n  ticker: ticker,\n  timestamp: new Date().toISOString(),\n  quote: {\n    current_price: quote.c || null,\n    change: quote.d || null,\n    change_percent: quote.dp || null,\n    high: quote.h || null,\n    low: quote.l || null,\n    open: quote.o || null,\n    previous_close: quote.pc || null\n  },\n  metrics: {\n    pe_ratio: metrics.metric?.peBasicExclExtraTTM || null,\n    pe_forward: metrics.metric?.peTTM || null,\n    pb_ratio: metrics.metric?.pbQuarterly || null,\n    ps_ratio: metrics.metric?.psTTM || null,\n    eps: metrics.metric?.epsBasicExclExtraItemsTTM || null,\n    eps_growth: metrics.metric?.epsGrowth5Y || null,\n    revenue_growth: metrics.metric?.revenueGrowth5Y || null,\n    profit_margin: metrics.metric?.netProfitMarginTTM || null,\n    gross_margin: metrics.metric?.grossMarginTTM || null,\n    roe: metrics.metric?.roeTTM || null,\n    roa: metrics.metric?.roaTTM || null,\n    debt_equity: metrics.metric?.totalDebtToEquityQuarterly || null,\n    current_ratio: metrics.metric?.currentRatioQuarterly || null,\n    dividend_yield: metrics.metric?.dividendYieldIndicatedAnnual || null,\n    beta: metrics.metric?.beta || null,\n    market_cap: metrics.metric?.marketCapitalization || null,\n    week52_high: metrics.metric?.['52WeekHigh'] || null,\n    week52_low: metrics.metric?.['52WeekLow'] || null,\n    avg_volume_10d: metrics.metric?.['10DayAverageTradingVolume'] || null\n  },\n  analyst: {\n    buy: latestRec?.buy || 0,\n    hold: latestRec?.hold || 0,\n    sell: latestRec?.sell || 0,\n    strong_buy: latestRec?.strongBuy || 0,\n    strong_sell: latestRec?.strongSell || 0,\n    period: latestRec?.period || null\n  }\n};"
            },
            "id": "webhook-combine-data",
            "name": "Combine Ticker Data",
            "type": "n8n-nodes-base.code",
            "position": [
                1600,
                200
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "tickers",
                "options": {}
            },
            "id": "webhook-aggregate",
            "name": "Aggregate All Tickers",
            "type": "n8n-nodes-base.aggregate",
            "position": [
                1800,
                100
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "jsCode": "// Format final API response\nconst allData = $input.first().json.tickers || [];\n\nreturn {\n  success: true,\n  timestamp: new Date().toISOString(),\n  source: \"finnhub\",\n  count: allData.length,\n  data: allData\n};"
            },
            "id": "webhook-format-response",
            "name": "Format API Response",
            "type": "n8n-nodes-base.code",
            "position": [
                2000,
                100
            ],
            "typeVersion": 2
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "webhook-respond",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "position": [
                2200,
                100
            ],
            "typeVersion": 1.1
        },
        {
            "parameters": {},
            "id": "webhook-loop-done",
            "name": "Webhook Loop Done",
            "type": "n8n-nodes-base.noOp",
            "position": [
                1800,
                300
            ],
            "typeVersion": 1
        },
        {
            "parameters": {
                "content": "## 🔌 WEBHOOK API ENDPOINT\n\n### URL: `https://boisv.app.n8n.cloud/webhook/stock-market-data`\n\n### Returns:\n- Real-time quotes (price, change, high/low)\n- Fundamental metrics (P/E, EPS, margins)\n- Analyst recommendations (buy/sell ratings)\n\n### Usage from Python:\n```python\nimport requests\ndata = requests.get('https://boisv.app.n8n.cloud/webhook/stock-market-data').json()\n```",
                "height": 350,
                "width": 400
            },
            "id": "sticky-webhook-info",
            "name": "Webhook Info",
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                380,
                -100
            ],
            "typeVersion": 1
        }
    ],
    "pinData": {},
    "connections": {
        "Wait": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Tickers": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [
                    {
                        "node": "No Operation, do nothing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Daily Market News Trigger": {
            "main": [
                [
                    {
                        "node": "Prep Tickers",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook - Market Data API": {
            "main": [
                [
                    {
                        "node": "Webhook Prep Tickers",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Prep Tickers": {
            "main": [
                [
                    {
                        "node": "Webhook Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Loop Over Items": {
            "main": [
                [
                    {
                        "node": "Aggregate All Tickers",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "FinnHub Quote",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FinnHub Quote": {
            "main": [
                [
                    {
                        "node": "FinnHub Metrics",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FinnHub Metrics": {
            "main": [
                [
                    {
                        "node": "FinnHub Recommendations",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FinnHub Recommendations": {
            "main": [
                [
                    {
                        "node": "Combine Ticker Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Combine Ticker Data": {
            "main": [
                [
                    {
                        "node": "Webhook Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate All Tickers": {
            "main": [
                [
                    {
                        "node": "Format API Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format API Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "a9a88153-fc4c-4fdf-8e35-7f3bbd744557",
    "meta": {
        "templateId": "5418",
        "templateCredsSetupCompleted": true,
        "instanceId": "f0fd7e6fc0839308a8cc59c5d0cebfacce2aa876a53e7f0f72e4158bb6c3b233"
    },
    "id": "GVeaqxlrNKR5QZK0",
    "tags": []
}